body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 150%;
  letter-spacing: 0.02em;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 0;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .logo-span {
  color: #2e2f42;
}
.page-nav {
  display: flex;
  flex-direction: row;
  width: 452px;
  margin-right: 332px;
}
.nav-list {
  display: flex;
  width: 261px;
  justify-content: space-between;
  gap: 40px;
}
.studio-line::after {
  content: '';
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.nav-address {
  width: 344px;
  margin-right: 0;
}
.nav-address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.nav-item {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 0px;
  transition-property: background-color;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.nav-item:active {
  color: #404bbf;
  text-decoration: underline;
}
.nav-address {
  font-style: normal;
}
.nav-contact {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: background-color;
}
.nav-contact:hover {
  color: #404bbf;
}
.nav-contact:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  max-width: 100%;
  padding: 188px 0;
  margin-top: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
}
.hero .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.hero-button {
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition-property: background-color;
}
.hero-button:hover {
  background: #404bbf;
}
.hero-button:focus {
  background: #404bbf;
}
.advantages {
  background-color: #ffffff;
  width: 100%;
  padding: 120px 0;
}
.advantages .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-list .adv-icon-box {
  display: flex;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.advantages-title-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.advantages-title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background: #f4f4fd;
  width: 100%;
  padding: 120px 0;
}
.team .container {
  width: 1158px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-title {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-title-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: calc((100% - 72px) / 4);
}
.team-name {
  padding: 32px 0;
}
.team-title-item .team-items {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.team-title-item .team-text {
  text-align: center;
}
.team-icon-list {
  display: flex;
  width: 232px;
  height: 40px;
  gap: 24px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.team-icon-item:hover .team-icon-link,
.team-icon-item:focus .team-icon-link {
  background-color: #404bbf;
}
.team-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
}
.social-icon {
  fill: #fff;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio {
  width: 100%;
  padding: 120px 0;
}
.portfolio .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-title {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-photo {
  position: relative;
  overflow: hidden;

}
.overlay {
  font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    display: block;
  position: absolute;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  height: 300px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  
  }
.portfolio-photo:hover .overlay {
  transform: translateX(0);
}
.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.portfolio-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: #2e2f42;
  width: 100%;
  padding: 100px 0px;
}
.footer .container {
  display: flex;
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.footer-descr {
  width: 264px;
  height: 112px;
  padding: 0 0;
  margin-right: 120px;
}
.footer .footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .footer-logo-span {
  color: #f4f4fd;
}
.footer .footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-social-icons {
  width: 208px;
  height: 80px;
  padding: 0 0;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-soc-icons {
  display: flex;
  width: 208px;
  height: 40px;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}
.footer-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-icon-item:hover .footer-icon-link {
  background-color: #31d0aa;
}
